.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.1s;
}

.add-cell:hover {
  opacity: 1;
}

.btn-visible {
  opacity: 1;
  margin-top: 20px;
}

.add-cell .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  border-bottom: 4px solid rgba(128, 128, 128, 0.3);
  width: 95%;
  z-index: -1;
}

.add-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.add-btn {
  font-size: 14px !important;
  display: flex;
  gap: 5px;
}
